/*Header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 93px 50px 95px 50px;
}

.header__menu-list {
  display: flex;
  gap: 31.48px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 0.25em;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_link-active {
  list-style: none;
}

.header__links-list_link-active {
  text-decoration: none;
}

.header__logo {
  height: 105px;
  width: 148px;
  background-size: contain;
  background-repeat: no-repeat;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  justify-self: end;
  align-items: flex-start;
  text-underline-offset: 0.25em;
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  width: 240px;
}

/*Cover*/

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
  position: relative;
  z-index: 0;
  margin-bottom: 180px;
  background-position: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.title {
  padding: 165px 50px 106px 50px;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 10px;
  padding-inline: 50px;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: white;
  text-transform: uppercase;
  word-spacing: 0.84em;
}

.bet-button {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
  color: white;
  border: 1px solid white;
}

.cover__title {
  display: block;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 20px;
  padding-left: 613px;
}

/* Lots */

.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
  justify-content: space-between;
}

.content-section__list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__text .lots__link {
  width: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 48px 40px 0 40px;
  line-height: 120%;
}

.card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  padding: 0 40px 48px 40px;
  line-height: 120%;
}

.lots__link {
  display: block;
  font-size: 20px;
  font-weight: 100;
  color: black;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  margin-top: 30px;
  margin-left: 40px;
}

/* About */

.about {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 240px 1fr;
  padding: 35px 0 0 47px;
}

.about_logo {
  display: flex;
  background-color: black;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.logo__white {
  width: 148px;
  height: 114px;
}

.content-section__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding: 101px 0 100px 72px;
}

.about__text {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 0 0 72px;
  margin-bottom: 1em;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  margin-bottom: 82px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 0.2em;
}

.footer__social-link {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}
